<div class="jumbo">
	<h1>Banking Website</h1>
	<ul>
		{{#link-to 'index'}}
			<li>Home</li>
		{{/link-to}}
	</ul>
	<ul>
		{{#link-to 'index'}}
			<li>djent</li>
		{{/link-to}}
	</ul>
</div>

{{outlet}}