<div>
	<h1>Banking Website</h1>
	<ul>
		{{#link-to 'index'}}
			<li>Home</li>
		{{/link-to}}
	</ul>
	<ul>
		{{#link-to 'about'}}
			<li>About</li>
		{{/link-to}}
	</ul>
  <ul>
    {{#link-to 'signin'}}
      <li>Log In</li>
    {{/link-to}}
  </ul>
  <ul>
    {{#link-to 'signup'}}
      <li>Sign Up</li>
    {{/link-to}}
  </ul>
  <br>
  <br>
</div>

{{outlet}}
