<div>
  <h2>Sign In</h2>
  <form action="">  <!--Note: Add connection to Java backend soon-->
    First and Last Names: <br>
    <input type="text" name="name"> <br>
    Passport Number: <br>
    <input type="password" name="passnum"> <br> <br> <!--Encrypt this info before we send it, website
                                                         and backend must use the same encryption. -->
    <input type="submit" value="Submit">
  </form>
</div>

{{outlet}}