<div>
  <h2>Sign Up</h2>
  <form action="">  <!--Note: Add connection to Java backend soon-->
    First Name: <br>
    <input type="text" name="firstname"> <br>
    Last Name: <br>
    <input type="text" name="lastname"> <br>
    Passport Number: <br>
    <input type="password" name="passnum"> <br> <br> <!--Encrypt this info before we send it, website
                                                         and backend must use the same encryption. -->
    <input type="submit" value="Submit">
  </form>
</div>

{{outlet}}